@using Fuyu.Platform.Launcher.Services

@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<button @onclick="() => StartEft()">Start EFT</button>

@code
{
    private void StartEft()
    {
        try
        {
            var cwd = Environment.CurrentDirectory;
            var accountId = 480892;
            var address = "http://localhost:8000";

            using (var process = ProcessService.StartEft(cwd, accountId, address))
            {
                process.Start();
            }
        }
        catch
        {
            //
        }
    }
}
