@using Fuyu.Platform.Launcher.Services

@page "/"

<p>
    <button @onclick="StartEft">
        Start EFT
    </button>
</p>

@code
{
    private void StartEft()
    {
        var cwd = Environment.CurrentDirectory;
        var accountId = 480892;
        var address = "http://localhost:8000";

        using (var process = ProcessService.StartEft(cwd, accountId, address))
        {
            process.Start();
        }
    }
}
